<!DOCTYPE html>
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<%- include('../userpartials/head')%>
<%- include('../userpartials/naavhead')%>

<!-- Add this in the head of your HTML file -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-GLhlTQ8iN17U6z4p3DyA5z73Mjk3Pjs1fktFzl5P4L0swoELC+5UCZy5qF5FJl5N" crossorigin="anonymous">


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<!-- molla/wishlist.html  22 Nov 2019 09:55:05 GMT -->

<body>
    <div class="page-wrapper">
        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Wishlist<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <table class="table table-wishlist table-mobile">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Stock Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (userwishlist && userwishlist.products && userwishlist.products.length > 0) { %>
                                <% userwishlist.products.forEach((item) => { %>
                                    <tr>
                                        <td class="product-col">
                                            <div class="product">
                                                <figure class="product-media">
                                                    <a href="#">
                                                        <img src="<%= item.product.productImage[0] %>" alt="Product image" style="width: 500px; height: 120px;">
                                                    </a>
                                                </figure>
                                            </div><!-- End .product -->
                                        </td>
                                        <td>
                                            <h3 class="product-title">
                                                <a href="#"><%= item.product.productname %></a>
                                            </h3><!-- End .product-title -->
                                        </td>
                                        <td class="price-col">₹<%= item.product.price %></td>
                                        <td class="stock-col">
                                            <span>
                                                <%= item.product.quantity > 0 ? 'In stock' : 'Out of stock' %>
                                            </span>
                                        </td>
                                        <td class="action-col">
                                            <div class="dropdown">
                                                <button class="btn btn-block btn-outline-primary-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="addToCart('<%= item.product._id%>')">
                                                    <i></i>Add To Cart
                                                </button>
                                            </div>
                                        </td>
                                        <td class="remove-col">
                                            <button class="btn-remove" data-wishlist-item-id="<%= item.product._id %>"><i class="icon-close"></i></button>
                                        </td>
                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <!-- Handle the case where no products are in the wishlist -->
                                <tr>
                                    <td colspan="5">No products in the wishlist</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table><!-- End .table table-wishlist -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
        
        <div class="mobile-menu-container">
            <div class="mobile-menu-wrapper">
                <span class="mobile-menu-close"><i class="icon-close"></i></span>
                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                        <li class="active">
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/category">Shop</a>
                        </li>
                    </ul>
                </nav><!-- End .mobile-nav -->
            </div><!-- End .mobile-menu-wrapper -->
        </div><!-- End .mobile-menu-container -->
    </div><!-- End .page-wrapper -->
   
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    <!-- Mobile Menu Overlay -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
<div style="height: 100px;">

</div>
    <footer class="footer">
        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2023 sneakpeakhub Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                <figure class="footer-payments">
                    <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                </figure><!-- End .footer-payments -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
</body>
</html>



    <!-- Sign in / Register Modal -->
   
    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>



    <script>
        async function addToCart(productid){
          
           try { 
            const response=await fetch(`/cartpost/${productid}`,{
                method:'post',
                headers:{
                    'content-Type':'applicstion/json'
                },
                body:JSON.stringify({QUANTITY:1})
            });
            if (response.ok) {
            // Display a success message using SweetAlert
            Swal.fire({
                icon: 'success',
                title: 'Item Added to Cart!',
                showConfirmButton: false,
                timer: 2000  // Set the timer to 2000 milliseconds (2 seconds)
            });
        } else {
            // Display an error message if adding to cart failed
            Swal.fire({
                icon: 'error',
                title: 'Oops!',
                text: 'Something went wrong. Please try again later.',
                confirmButtonText: 'OK'
            });
        }
       
           } catch (error) {
            console.error('Fetch error:', error);
           }
        }


           </script>



<!-- remove the product from wishlist -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
    // Attach click event to remove buttons
    const removeButtons = document.querySelectorAll('.btn-remove');
    removeButtons.forEach(button => {
        button.addEventListener('click', function () {
            const wishlistItemId = this.getAttribute('data-wishlist-item-id');
            removeWishlistItem(wishlistItemId);
        });
    });
});

function removeWishlistItem(wishlistItemId) {
    // Make an AJAX request to your server to remove the wishlist item
    fetch(`/wishlist/remove-item/${wishlistItemId}`, {
        method: 'DELETE',
    })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            // Handle the response, e.g., update the UI
            console.log('Success:', data);
            window.location.reload()
            // You may want to refresh the wishlist or remove the item from the UI
        })
        .catch(error => {
            // Handle errors
            console.error('Error:', error);
        });
}

</script>

</body>


<!-- molla/wishlist.html  22 Nov 2019 09:55:06 GMT -->
</html>